body,html {
	padding: 0px;
	margin: 0px;
	background-color: #050505;
	color: #DDD;
}

#wrap {
	margin: 0 auto;
	height: 100%;
}

#header {
	padding-top: 35px;
	border-bottom: 1px solid #555555;
	margin: 0px;
}

#logo {
	height: 150px;
	left: 50%;
	background-image: url('../image/logo.png');
	background-repeat: no-repeat;
	background-position: center;
}

#content {
	padding: 20px;
	min-height: 600px;
	overflow: auto;
	border-right: 1px solid #555555;
}

#sidebar {
	position: relative;
	float: right;
	width: 260px;
	padding: 20px;
}

#footer {
	clear: both;
}

#quest_info {
	float: left;
	width: 45%;
	overflow: hidden;
}

#quest_content {
	float: left;
	width: 45%;
	overflow: hidden;
}

input[type="text"].middle_form, input[type="password"].middle_form {
	float: right;
	position: relative;
	min-width: 200px;
	width: 100%;
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#middle_form-wrapper {
	float: left;
	left: 50%;
	width: 100%;
	text-align: center;
}

#game {
	float: left;
	width: 100%;
	text-align: center;
}

#middle_form {
	float: left;
	text-align: left;
	background-color: #111111;
	border: 1px solid #333;
	padding: 1em 2em 1em 2em;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#answer_box {
	margin-top: 30px;
}

h1 {
	color: #2196F3;
	margin-bottom: 15px;
}

h2 {
	color: #42A5F5;
}

h3 {
	color: #64B5F6;
}

.link:hover {
	cursor: hand;
}

a, a:visited, a:active, a:link {
	text-decoration: none;
	color: #29B6F6;
}

a:hover {
	color: #81D4FA;
}

td, th {
	padding: 0.2em 1em 0.2em 1em;
	margin: 0px;
}

th {
	text-align: left;
	color: #BBDEFB;
}

tr {
	margin: 0px;
}

tr:hover {
	background-color: #263238;
}

input[type="button"], input[type="submit"].big, .button_big:visited, .button_big:active, .button_big:link {
	margin: 2px;
	padding: 8px;
	font-size: 12px;
}

input[type="button"], input[type="submit"], .button:visited, .button:active, .button:link {
	margin: 2px;
	padding: 4px;
	font-size: 12px;
}

input[type="button"], input[type="submit"]:hover, .button:hover, .button_big:hover {
	cursor: pointer;
}

input[type="text"], input[type="password"] {
	background-color: #fff;
	border: 1px solid #abc;
	padding: 2px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

input[type="text"].big, input[type="password"].big {
	display: block;
	font-size: 12px;
	background-color: #fff;
	border: 5px;
	padding: 1em;
}

.progress_text {
	margin-top: 0px;
	padding-top: 0px;
}

.meter {
	height: 5px;
	padding: 0px;
	margin-bottom: 0px;
	background-color: #607D8B;
}

.meter > span {
	display: block;
	height: 100%;
	width: 0%;
	background-color: #00C853;
}

.orange > span {
	background-color: #FF6D00;
}

.red > span {
	background-color: #D50000;
}

.input_info {
	display: inline-block;
	width: 150px;
	margin-bottom: 0.4em;
}

.error {
	color: #F44336;
}

.success {
/* 	font-size: 12pt; */
	color: #4CAF50;
}

.form_default {
	color: #90a0cf;
}

.small {
	font-size: 8pt;
}

.info {
	font-size: 16pt;
	color: #FFEB3B;
}
